# dependencies
node_modules/

# build output
dist/

# Firebase
.firebase/

# local env files
.env
.env*.local

# logs
npm-debug.*
yarn-debug.*
yarn-error.*

# editor / os
.DS_Store
*.pem
*.tsbuildinfo
.vscode/
